/*Corpo da animação*/
body {
  background-color: rgb(48, 48, 67);
}
/*Divisão em conteiner*/

.container {
  padding: 100px;
  display: flex;
  justify-content: center;
}
/*hover das classes*/
.popo:hover {
  transform: rotate(3deg);
  /*margin-bottom:20px;*/
  transition: 0.1s;
}
.pop {
  width: 150px;
  height: 300px;
}
.pop:hover {
  animation-name: kate;
  animation-duration: 0.5s;
}
/*Container da imagem!*/
.container img {
  width: 20rem;
  column-gap: 42px;
  border-radius: 1rem;
  margin-left: -20px;
  box-shadow: inset 0 0 1em rgb(2, 36, 145), 0 0 1em rgba(65, 47, 167, 0.889);
  position: relative;
}
img {
  transition: all 0.3s;
}
img:hover {
  transform: scale(1.1);
  transition: 0.3s;
  border: 3px solid #102abec1;
}
/*Chamada em keiframes*/
@keyframes kate {
  0% {
  }
  100% {
    transform: translateY(-2rem);
  }
}
